@model RevupAPI.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waypoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waypoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxElevation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxElevation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElevationGain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElevationGain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerrainType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerrainType.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
